<form name="listForm" ng-submit="list.deleteEntries()">

    <div class="row">
        <div class="col-xs-12">

            <ul class="list-group" ng-show="list.Entries.length">

                <li class="list-group-item einkaufsliste-item" ng-repeat="entry in list.Entries"
                    ng-class="{disabled :entry.delete }" ng-click="list.toggleEntryDelete(entry)">

                    <span class="badge">{{entry.amount}}</span>

                    <input hidden="hidden" name="entry.delete" ng-model="entry.delete"
                           value="{{entry.id}}"/>
                    <span class="glyphicon glyphicon-ok" ng-show="entry.delete"></span>
                    <span class="glyphicon glyphicon-ok-circle" ng-hide="entry.delete"></span>
                    <span ng-class="{strike: entry.delete}">{{entry.name}}</span>

                </li>
            </ul>

            <div class="well" ng-hide="list.Entries.length || list.isOffline" >Du musst nicht Einkaufen! Yeah!</div>
        </div>
    </div>

    <div class="alert alert-danger"
         ng-show="list.isOffline"
         role="alert">
        <strong>Achtung!</strong> Das hat nicht geklappt. Wenn Du gerade am Einkaufen bist und deine gekauften Sachen von der Liste schmeißen willst: Probier's einfach nachher nochmal!
    </div>

    <div class="row">
        <div class="col-xs-6">
            <p>
                <button href="#/" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Alles
                    eingekauft!
                </button>
            </p>
        </div>
        <div class="col-xs-6 text-right">
            <p class="visible-xs">
                <a href="#/new" class="btn btn-default"><span
                    class="glyphicon glyphicon-plus"></span> Neu</a>
            </p>

            <p class="hidden-xs">
                <a class="btn btn-primary" ng-click="list.loadList()"><span
                        class="glyphicon glyphicon-refresh"></span>
                    Aktualisieren</a>
            </p>


        </div>
    </div>

</form>



<div class="row hidden-sm visible-xs">
    <div class="col-xs-12 text-center">
        <p>
            <button class="btn btn-primary col-xs-12" ng-click="list.loadList()"><span
                    class="glyphicon glyphicon-refresh"></span>
                Aktualisieren
            </button>
        </p>
    </div>
</div>

