<nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="NavigationController as nav">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#einkaufliste-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="assets/checklist-small.png" height="20" alt=""/>Einkaufsliste</a>
        </div>

        <div class="collapse navbar-collapse" id="einkaufliste-main">

            <ul class="nav navbar-nav">
                <li ng-class="{active:nav.isActive('/')}">
                    <a href="#/"><span
                            class="glyphicon glyphicon-tasks"></span> Liste</a></li>
                <li ng-class="{active:nav.isActive('/new')}">
                    <a href="#/new"><span
                            class="glyphicon glyphicon-plus"></span> Neu </a></li>
                <li ng-class="{active:nav.isActive('/about')}">
                    <a href="#/about"><span
                            class="glyphicon glyphicon-question-sign"></span> Über</a></li>
            </ul>

        </div>

    </div>
</nav>