<form class="form" name="newEntryForm"
		ng-submit="newEntryForm.$valid && list.addListEntry()" novalidate>

	<div class="row">

		<div class="col-xs-12 col-md-6">

			<div class="form-group">
				<label for="name" >Produkt</label>
				<input type="text"
				       class="form-control"
				       id="name"
				       name="name"
				       placeholder="Was soll eingekauft werden?"
				       ng-model="list.newEntry.name"
				       required
				>
			</div>

		</div>

		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="amount">Anzahl</label>
				<input ng-model="list.newEntry.amount" type="number" class="form-control" id="amount" name="amount" placeholder="Wie viele davon?" required autocomplete="off">
			</div>
		</div>

	</div>

	<div class="row">

		<div class="col-xs-6">

			<button class="btn btn-success">Hinzufügen</button>

		</div>
		<div class="col-xs-6 text-right">

			<a href="#/" class="btn btn-sm btn-danger">Abbrechen</a>

		</div>

	</div>


</form>
